.headOutrasInformacoesSmall{
    display: none;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    font-weight: 400;
}
hr{
    border-color: #127369;
    border-style: solid;
    width: 50%;
}
.foto{
    width: 40%;
    height: auto;
    border-radius: 50%;
    border: #127369 solid 5px;
}
.contatosIcones{
    padding: 10px;
    display: flex;
}
.listaContatos{
    font-size: 15px;
}
.icone{
    padding: 10px;
}
.contatosContatos, .sobreTitulo, .sobreSubtitulo{
    font-size: 35px;
    color: #127369;
    font-weight: 500;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    padding: 60px 100px 60px 100px;
    justify-content: space-around;
    gap: 3em;
}
.headContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
.headInformacao, .headOutrasInformacoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
    justify-content: center;
    border-right: solid 2px #127369;
} .headOutrasInformacoes{
    gap: 20px;
    border-right: none;
}
.nomeStrong{
    font-size: 50px;
    font-weight: bold;
    color: #127369;
    text-align: center;
}
.sobreContainer, .experienciaContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    font-size: 20px;
}

.sobreEducacao,.sobreInfo{
    font-size: 20px;
}

.sobreEsquerda, .sobreDireita, .experienciaPrincipal{
    display: flex;
    gap: 30px;
    flex-direction: column;
    line-height: 40px;
}

.sobreNomeEscola{
    font-weight: 700;
}

.fotoDiv{
    display: flex;
    flex-direction: column;
    width: 10%;
}
.sobreExperiencia{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 40px;
}
.logosExperiencia{
    width: 100px;
    height: auto;
}
.trabalhoDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.topo{
    align-items: start;
}

@media screen and (max-width: 1200px){
    .headContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }
    .headInformacao{
        flex-direction: column;
        width: 100%;
        border-right: transparent;
    }
    .headOutrasInformacoes{
        display: none;
    }
    .headOutrasInformacoesSmall {
        display: flex;
        gap: 20px;
    }
    .imgContato{
        width: 60%;
        height: auto;
    }

}



@media screen and (max-width: 756px){
    .mainContainer{
        display: flex;
        flex-direction: column;
        padding: 60px 20px 60px 20px;
        justify-content: space-around;
        gap: 3em;

    }

    .contatoTexto{
        display: none;
    }

    .foto{
        width: 50%;
    }
}